{% extends 'home.html'%}

{% block section1%}
<div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 agendaCard" >
                <div class="mobile-wrapper">
                    <!--======= Header =======-->
                    <header class="headerAgenda">
                    </header>
                    <!--======= Today =======-->
                    <section class="today-box" id="today-box">
                        <span class="breadcrumb2"> Agenda</span>
                        <h3 class="date-title"> {{dateEvent}}</h3>

                        <div class="plus-icon">
                         <i class="fa fa-calendar iconPlus" aria-hidden="true"></i>
                        </div>
                    </section>
                    <!--======= Upcoming Events =======-->
                    <section class="upcoming-events">
                        <div class="container">
                            <h3 class="h3UpcomingEvents"> {{title}} </h3>
                            <div class="events-wrapper">
                                {% for agenda in object_list %}                   
                                    {% if agenda.date < actual.date  %}
                                            <div class="event">
                                                <i class="fa fa-circle iEvent" aria-hidden="true"></i>
                                                <h4 class="event__point">{{agenda.startTime}} - {{agenda.endTime}}  {{agenda.speaker}}</h4>
                                                <span class="event__duration">Terminado</span>
                                                <p class="event__description"> {{agenda.description}}</p>
                                            </div>
                                    {% elif agenda.date > actual.date  %}
                                            <div class="event">
                                                <i class="fa fa-circle done iEvent" aria-hidden="true"></i>
                                                <h4 class="event__point">{{agenda.startTime}} - {{agenda.endTime}}  {{agenda.speaker}}</h4>
                                                <span class="event__duration">Por Comenzar</span>
                                                <p class="event__description"> {{agenda.description}}</p>
                                            </div>
                                    {% elif agenda.date == actual.date%}
                                        {% if agenda.endTime < actual.time %}
                                            <div class="event">
                                                <i class="fa fa-circle iEvent" aria-hidden="true"></i>
                                                <h4 class="event__point">{{agenda.startTime}} - {{agenda.endTime}}  {{agenda.speaker}}</h4>
                                                <span class="event__duration">Terminado</span>
                                                <p class="event__description"> {{agenda.description}}</p>
                                            </div>
                                        {% elif agenda.endTime > actual.time and agenda.startTime < actual.time %}
                                        <div class="active event">
                                                <i class="fa fa-circle iEvent active icon-in-active-mode" aria-hidden="true"></i>
                                                <h4 class="event__point">{{agenda.startTime}} - {{agenda.endTime}}  {{agenda.speaker}}</h4>
                                                <span class="event__duration">En vivo</span>
                                                <p class="event__description"> {{agenda.description}}</p>
                                            </div>
                                        {% else %}
                                            <div class="event">
                                                <i class="fa fa-circle done iEvent" aria-hidden="true"></i>
                                                <h4 class="event__point">{{agenda.startTime}} - {{agenda.endTime}}  {{agenda.speaker}}</h4>
                                                <span class="event__duration">Por Comenzar</span>
                                                <p class="event__description"> {{agenda.description}}</p>
                                            </div>
                                        {% endif%}
                                    {% endif %}                            
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>        
        </div>
</div>


{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}