{% extends 'home.html'%}

{% block section1%}
<div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 agendaCard" >
                <div class="mobile-wrapper">
                    <!--======= Header =======-->
                    <header class="headerAgenda">
                        <div class="containerAgenda">
                            <span class="spanContainerAgenda">Agenda</span>
                            <h1 class="h1ContainerAgenda">Horarios</h1>
                        </div>
                    </header>
                    <!--======= Today =======-->
                    <section class="today-box" id="today-box">
                        <span class="breadcrumb2"> Día del Evento</span>
                        <h3 class="date-title"> Fecha del Evento</h3>

                        <div class="plus-icon">
                         <i class="fa fa-calendar iconPlus" aria-hidden="true"></i>
                        </div>
                    </section>
                    <!--======= Upcoming Events =======-->
                    <section class="upcoming-events">
                        <div class="container">
                            <h3 class="h3UpcomingEvents"> Nombre del Evento </h3>
                            <div class="events-wrapper">
                                <div class="event">
                                    <i class="fa fa-circle iEvent" aria-hidden="true"></i>
                                    <h4 class="event__point">11:00 am</h4>
                                    <span class="event__duration">in 30 minutes.</span>
                                    <p class="event__description">
                                        Monday briefing with the team (...).
                                    </p>
                                </div>
                                <div class="event">
                                    <i class="fa fa-circle done iEvent" aria-hidden="true"></i>
                                    <h4 class="event__point">12:00 pm</h4>
                                    <span class="event__duration">in 1 hour.</span>
                                    <p class="event__description">
                                        Lunch with Paul Mccartney @Burgers House!
                                    </p>
                                </div>
                                <div class="active event">
                                <i class="fa fa-circle iEvent active icon-in-active-mode" aria-hidden="true"></i>
                                <h4 class="event__point">14:00 pm</h4>
                                <p class="event__description">
                                    Meet clients from project.
                                </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    {% for agenda in object_list %}                   
                        <div class="event active">
                        {% if agenda.endTime.time < hora.time %}
                               <i class="fa fa-circle iEvent active icon-in-active-mode" aria-hidden="true"></i>
                               
                        {% elif agenda.starTime.time > hora.time  %}
                                <i class="fa fa-circle done iEvent" aria-hidden="true" style="color: blue;"></i>
                        {% else %}
                                <i class="fa fa-circle done iEvent" aria-hidden="true" style="color: blue;"></i>
                                <h4 class="event__point">Por comenzar</h4>
                                <h4 class="event__point">{{ agenda.startTime.date}}</h4>

                        {% endif %}

                            <h4 class="event__point">{{ agenda.startTime.time}} - {{ agenda.endTime.time}} </h4>
                            <h4 class="event__point"> {{ hora.time }}</h4>
                            <h6 class"event__point"> {{ agenda.name}} - {{agenda.speaker}}</h6>
                            <span class="event__duration">Terminado</span>
                            <p class="event__description"> en Cierta hora</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>        
        </div>
</div>


{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}