{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sitacomm Analytics </title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'dashboard/vendors/typicons.font/font/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject --> 
    <link rel="stylesheet" href="{% static 'dashboard/css/vertical-layout-light/style.css'%}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css'%}?version=202112301350">
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'dashboard/vendors/mdi/css/materialdesignicons.min.css'%}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png'%}" />

    {% block dashboarHeaders %}
    {% endblock   %}

  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center navAnalytics" style="background-color: #7a0e68;">
          <!--<a class="navbar-brand brand-logo" href="#"><img src="{% static 'lib/images/multiboleto.png'%}" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static 'lib/images/multiboleto.png'%}" alt="logo"/></a>-->
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize" style="color:#fff;">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end navAnalytics" style="background: linear-gradient(270deg, #f803d7 0%, #7a0e68 100%);">
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav" style="padding-top:150px;">
          <li class="nav-item">
            <h3 class="sidebar-menu-title">Analytics Multiboleto</h3>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'demograficos' %}">                       
              <i class="mdi mdi-earth menu-icon"></i>
              <span class="menu-title">Grupos Demográficos </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'tecnologicos' %}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Grupos Tecnológicos </span>
            </a>
          </li>

        </ul>
      </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block dashboarContent %}
            {% endblock   %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © Multiboleto 2022 </span>              
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="{% static 'dashboard/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'dashboard/js/off-canvas.js'%}"></script>
    <script src="{% static 'dashboard/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'dashboard/js/template.js'%}"></script>
    <script src="{% static 'dashboard/js/settings.js'%}"></script>
    <script src="{% static 'dashboard/js/todolist.js'%}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'dashboard/vendors/progressbar.js/progressbar.min.js'%}"></script>
    <script src="{% static 'dashboard/vendors/chart.js/Chart.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'dashboard/js/dashboard.js'%}"></script>
    <!-- End custom js for this page-->
    <!-- block scripts-->    
    {% block dashboarScripts %}

    {% endblock %}

    {% block dashboarScript1 %}

    {% endblock %}

  </body>
</html>