{% load static %}
<!DOCTYPE html>
<head>
    <title>Breakout-In</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/react-select.css" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="origin-trial" content="">
</head>
<body>
     {% block infoMeet %}

    {% endblock   %}
    <script src="https://source.zoom.us/1.9.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/zoom-meeting-1.9.1.min.js"></script>

    <script src="{% static 'lib/meet/js/tool.js' %}"></script>
    <script src="{% static 'lib/meet/js/vconsole.min.js' %}"></script>
    <!--<script src="{% static 'lib/meet/js/meeting.js'%}"></script>-->

    {% block meeet2 %}

    {% endblock   %}

</body>

</html>
