{% load static %}
<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-date="2021/11/01" style="background: url({% static 'lib/images/header-bg.jpg' %}) no-repeat">
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col flex flex-column justify-content-center">
                            <div class="entry-header">
                                <div class="countdown flex align-items-center">
                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dday"></span>
                                        <label>Days</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dhour"></span>
                                        <label>Hours</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dmin"></span>
                                        <label>Minutes</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dsec"></span>
                                        <label>Seconds</label>
                                    </div><!-- .countdown-holder -->
                                </div><!-- .countdown -->

                                <h2 class="entry-title">1 We have the best events. <br>Get your tiket now!</h2>
                            </div><!--- .entry-header -->

                            <div class="entry-footer">
                                <a class="btn gradient-bg" href="#">Order here</a>
                            </div><!-- .entry-footer" -->
                        </div><!-- .col -->
                    </div><!-- .container -->
                </div><!-- .hero-content -->
            </div><!-- .swiper-slide -->
        </div><!-- .swiper-wrapper -->

        <div class="swiper-slide" data-date="2021/11/01" style="background: url({% static 'lib/images/header-bg.jpg' %}) no-repeat">
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col flex flex-column justify-content-center">
                            <div class="entry-header">
                                <div class="countdown flex align-items-center">
                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dday"></span>
                                        <label>Days</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dhour"></span>
                                        <label>Hours</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dmin"></span>
                                        <label>Minutes</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dsec"></span>
                                        <label>Seconds</label>
                                    </div><!-- .countdown-holder -->
                                </div><!-- .countdown -->

                                <h2 class="entry-title">2 We have the best events. <br>Get your tiket now!</h2>
                            </div><!--- .entry-header -->

                            <div class="entry-footer">
                                <a class="btn gradient-bg" href="#">Order here</a>
                            </div><!-- .entry-footer" -->
                        </div><!-- .col -->
                    </div><!-- .container -->
                </div><!-- .hero-content -->
            </div><!-- .swiper-slide -->
        </div><!-- .swiper-wrapper -->

        <div class="swiper-slide" data-date="2021/11/01" style="background: url({% static 'lib/images/header-bg.jpg' %}) no-repeat">
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col flex flex-column justify-content-center">
                            <div class="entry-header">
                                <div class="countdown flex align-items-center">
                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dday"></span>
                                        <label>Days</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dhour"></span>
                                        <label>Hours</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dmin"></span>
                                        <label>Minutes</label>
                                    </div><!-- .countdown-holder -->

                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dsec"></span>
                                        <label>Seconds</label>
                                    </div><!-- .countdown-holder -->
                                </div><!-- .countdown -->

                                <h2 class="entry-title">3 We have the best events. <br>Get your tiket now!</h2>
                            </div><!--- .entry-header -->

                            <div class="entry-footer">
                                <a class="btn gradient-bg" href="#">Order here</a>
                            </div><!-- .entry-footer" -->
                        </div><!-- .col -->
                    </div><!-- .container -->
                </div><!-- .hero-content -->
            </div><!-- .swiper-slide -->
        </div><!-- .swiper-wrapper -->
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="swiper-button-next flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
    </div>

    <div class="swiper-button-prev flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
    </div>
</div><!-- .swiper-container -->
