{% extends 'home.html'%}


{% block addCss %}

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

{% endblock %}


{% block section1%}

<div id="container" style="padding:120px;">
    <div class="loading">
        <i class="icon-spinner icon-spin icon-large"></i>
        Loading data...
    </div>
</div>

<script>
    var dict;
    $.ajax({
        url:'{% url 'getCountry' %}',
        type: 'POST',
        dataType:'json'
    }).done( function (data) {
        console.log(data);
        dict=data;
        drawChart(dict);
       
   }).fail(function (jqXHR, textStatus,errorThrown)
   {
       console.log("Error e");  
       const chart = drawChart();
       chart.showLoading(
           '<i class="icon-frown icon-large"></i> ' +
           'Error loading data'
       );       
   }); 
   console.log("dict");
   console.log(dict);

   function drawChart(data) {
        return Highcharts.mapChart('container', {
            chart: {
                map: 'custom/world',
                borderWidth: 1
            },
    
            colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
                'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],
    
            title: {
                text: 'Usuarios a nivel mundial'
            },
    
            mapNavigation: {
                enabled: true
            },
    
            legend: {
                title: {
                    text: 'Individuals per km²',
                    style: {
                        color: ( // theme
                            Highcharts.defaultOptions &&
                            Highcharts.defaultOptions.legend &&
                            Highcharts.defaultOptions.legend.title &&
                            Highcharts.defaultOptions.legend.title.style &&
                            Highcharts.defaultOptions.legend.title.style.color
                        ) || 'black'
                    }
                },
                align: 'left',
                verticalAlign: 'bottom',
                floating: true,
                layout: 'vertical',
                valueDecimals: 0,
                backgroundColor: ( // theme
                    Highcharts.defaultOptions &&
                    Highcharts.defaultOptions.legend &&
                    Highcharts.defaultOptions.legend.backgroundColor
                ) || 'rgba(255, 255, 255, 0.85)',
                symbolRadius: 0,
                symbolHeight: 14
            },
    
            colorAxis: {
                dataClasses: [{
                    to: 20
                }, {
                    from: 20,
                    to: 100
                }, {
                    from: 100,
                    to: 500
                }, {
                    from: 500,
                    to: 100
                }, {
                    from: 1000,
                    to: 5000
                }, {
                    from: 5000,
                    to: 10000
                }, {
                    from: 10000
                }]
            },
    
            series: [{
                data: data,
                joinBy: ['iso-a2', 'code'],
                animation: true,
                name: 'Usuarios a nivel mundial',
                states: {
                    hover: {
                        color: '#a4edba'
                    }
                },
                shadow: false
            }]
        });
    }
</script>

{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">
</div>
{% endblock %}