
{% extends 'home.html'%}
{% load static %}
{% block section1%}

<div class="newsletter-subscribe">
    <div class="contStreaming">
        <div class="h-100">
            <div class="row">
            {% for speaker in object_list %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 cardSpeaker">
                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                {% if speaker.imgProfile %}
                                    <img class="imgSpeaker" src={{speaker.imgProfile}} >
                                {% else %}
                                    <img class="imgSpeaker" src="{% static 'lib/images/bussinesman.png' %}">
                                {% endif%}
                            </div>
                            <div class="content-card">
                                <h3>{{ speaker.name }}</h3>
                                <p>{{ speaker.job }}</p>
                                <div class="social-links">
                                    <ul>
                                        <li>
                                            <a href="" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="" class="linkedin"><i class="fab fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br><br>
                </div>
                <br>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}
