{% extends 'home.html'%}

{% block section1%}
<div>
        <div class="encabezado">
            <section class="textos-header">
                <h1>Tomar responsabilidad personal es algo hermoso porque nos da un control completo sobre nuestro destino</h1>
                
            </section>
            <div class="waves" style="height: 60px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: wheat;">
                    </path>
                </svg>
            </div>
        </div> 
        <div>
            <section class="contenedor sobre-nosotros">
                    <div class="contenedor-sobre-nosotros">
                        <div class="contenido-textos">
                            <ul >
                                <li>Diplomado en Psicología Humanista egresada del Instituto Humanista de Psicoterapeutas.</li>
                                <li>Especialidad en Gestalt egresada del Instituto Humanista de Psicoterapeutas Gestalt.</li>
                                <li>Especialidad en sexualidad desde el enfoque Gestáltico egresada en el Instituto Humanistas de Psicoterapeutas Gestalt.</li>
                                <li>Trabajo en grupos y talleres vivenciales.</li>
                                <li>Curso básico, intermedio y avanzado de conducción y locución comercial con Martha Escobar en top audio.</li>
                                <li>Curso de actuación intensivo con el primer actor Esteban Franco.</li>
                                <li>Diplomado en la nueva medicina Germánica avalado por la Universidad de Puebla.</li>
                                <li>Especialidad en lectura corporal y bioenergética - Universidad de Puebla.</li>
                            </ul>
                        </div>
                        <img style="width:28%; height:55%;" src="https://media-exp1.licdn.com/dms/image/C5603AQG7zdMPYVY-qg/profile-displayphoto-shrink_200_200/0/1629758625186?e=1654128000&v=beta&t=MGRWEu5-yc-GIRvUhf72E8E7Do3Shy5njJ_4yRE06c8" alt="" class="imagen-about-us">
                    </div>
                </section>
        </div>
        <div>
            <section class="contenedor sobre-nosotros">
                    <h2 class="titulo">Premios</h2>
                    <div class="contenedor-sobre-nosotros">
                        <img src="/static/lib/images/ponente1.jpg" alt="" class="imagen-about-us" style="width:350px; height:450px;">
                        <div class="contenido-textos">
                            <h3><span>1</span>Reconocimiento por el programa “En el aquí y ahora con Alexa”</h3>
                            <p>Premiado como el mejor contenido de salud y revista en la Asociación Nacional de Locutores de México.</p>
                            <h3><span>2</span>Premio “Los 100 hombres y mujeres más estacadas en México”</h3>
                            <p>Premio Nacional de Excelencia Profesional de la revista oficial “Los 100 hombres y mujeres más destacadas en México” edición 2017.</p>
                            <h3><span>3</span>CANADEM</h3>
                            <p>Por la labor de impacto en medios de comunicación con temas de sexualidad en el Senado de la República.</p>
                        </div>
                    </div>
                </section>
        </div>
        <section class="clientes contenedor">
            <h2 class="titulo">Colaboraciones</h2>
            <div class="cards">
                <div class="card">
                    <img src="/static/lib/images/ponente2.jpg" alt="">
                    <div class="contenido-texto-card">
                        <ul >
                            <li>Grupo Televisa en el programa HOY</li>
                            <li>Especialidad en Gestalt egresada del Instituto Humanista de Psicoterapeutas Gestalt.</li>
                            <li>El Club de EVA - Azteca UNO</li>
                            <li>Todo un show - Azteca UNO</li>
                            <li>El Chanclazo por A+ - TV Azteca</li>
                            <li>Pásele yo invitó con el Coque Muñiz por A++ - TV Azteca</li>
                            <li>Programa de radio “Misterios ocultos” con Maira Berenice en Los Angeles California</li>
                            <li>Grupo Imagen - Punto y Coma</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/lib/images/ponente3.jpg" alt="">
                    <div class="contenido-texto-card">
                        <ul >
                            <li>Maribel Guardia live como especialista en sexualidad.</li>
                            <li>Las perras con Cecilia Galeano</li>
                            <li>AMO con Angie, Meli y Oli ex jeans por Youtube</li>
                            <li>Arriba la tarde por A+</li>
                            <li>Sin Rodeos en Aquí contigo Heraldo de México</li>
                            <li>El Heraldo de México - Televisión en código salud</li>
                            <li>Ventaneando facebook live - TV Azteca</li>
                            <li>Programas de TV por internet “Eufonico Los Angeles California</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
     <!--   <section class="portafolio">
            <div class="contenedor">
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente4.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente5.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente6.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente7.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente8.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente9.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente10.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/static/lib/images/ponente11.jpg" alt="">
                        <div class="hover-galeria">
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
</div>

{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}