
{% extends 'home.html'%}
{% load static %}
{% block section1%}

<div class="newsletter-subscribe">
    <div class="contStreaming">
        <div class="h-100">
            <h1 class="titleDemo"> {{tittle}} </h1>                        
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/CISCO.jpg' %}">
                    </a>
                </div>    
                <br>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/CONDUMEX.jpg' %}">
                    </a>
                </div>    
                <br>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/cyberpower.jpg' %}">
                    </a>
                </div>
                <br>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/dell.jpg' %}">
                    </a>
                </div>
                <br>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/ho-inc.jpg' %}">
                    </a>
                </div> 
                <br>   
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/intel.jpg' %}">
                    </a>
                </div> 
                <br>                   
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/KINGSTON.jpg' %}">
                    </a>
                </div> 
                <br>                   
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/KOBLENZ.jpg' %}">
                    </a>
                </div> 
                <br>                               
                <br>                   
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/microsoft.jpg' %}">
                    </a>
                </div> 
                <br>                   
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 breakoutContainer">
                    <a href="{% url 'Meet' %}">
                        <img class="imgMeeting" src="{% static 'lib/images/marcas/nec.jpg' %}">
                    </a>
                </div> 
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}